[submodule "esar-training"]
	path = esar-training
	url = https://github.com/kcesar/trainingapp
[submodule "common"]
	path = common
	url = https://github.com/mcosand/sar-common
[submodule "full-database"]
	path = full-database
	url = https://github.com/mcosand/kcsara-database
[submodule "auth"]
	path = auth
	url = https://github.com/mcosand/sar-auth
[submodule "database-api"]
	path = database-api
	url = https://github.com/mcosand/sar-database-api
